@import url(media.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {

	font-weight: 300;

	font-size: 14px;

}


ul,
li {
	list-style: none;

}

$yellow: #ffaf02;

.container-bg {
	margin: 0 auto;
	max-width: 1920px;
}

.container {
	margin: 0 auto;
	max-width: 1170px;

}

.header {
	padding-top: 15px;

	.container-bg {
		background-image: url(../images/header.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	justify-content: space-between;

	.logo-title {
		font-size: 15px;
		margin-left: 30px;
		max-width: 170px;
		line-height: 17px;
	}
}

.header__call {
	max-height: 45px;
	display: flex;
	justify-content: space-between;


	span {
		display: block;

		font-size: 13px;
	}

	.header__phone-tel {
		font-size: 17px;
		font-family: 'Roboto Slab', serif;
		font-weight: 800;
		line-height: 17px;
		letter-spacing: 1px;
	}

	.header__btn {
		font-size: 11px;
		margin-left: 20px;
		font-weight: 800;
		color: #fff;
		background-color: $yellow;
		padding: 15px 30px;
		display: inline-block;
		border-radius: 20px;
		text-align: right;
		text-transform: uppercase;
	}

}

.header__bottom {
	padding-top: 59px;
}

.header__bottom-title {
	font-size: 57px;
	font-family: 'Roboto Slab', serif;
	line-height: 118px;
	font-weight: 800;
	max-width: 470px;
}

.header__bottom-text {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;
	max-width: 470px;
	letter-spacing: 0;
}


.header__botton-inners {
	padding-top: 80px;

	&:nth-child(2) {
		max-width: 470px;
	}

	.header__inner {
		display: flex;
		padding-bottom: 30px;
		max-width: 600px;
	}

	.header__inner-right {
		padding-left: 30px;
	}

	.header__inner-title {
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
	}

	.header__inner-text {
		font-size: 14px;
		line-height: 30px;
	}
}

.consultation {

	.container-bg {
		background-image: url(../images/child-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.consultation__box {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 65px;

	.box-inner__title {
		font-family: 'Roboto Slab', serif;
		font-size: 26px;
		font-weight: 700;
		padding-bottom: 15px;
	}

	.box-inner__text {
		font-size: 18px;
		font-weight: 800;
		line-height: 37px;
		letter-spacing: .1px;
		padding-bottom: 15px;
	}
}

.box,
.special-offer__box {
	padding-top: 10px;
	// position: relative;

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 875px;
	// 	height: 20px;
	// 	background-image: url(../images/z-line.png);
	// 	background-repeat: no-repeat;
	// 	top: 0;
	// 	left: 160px;
	// }
}

.box-text {
	font-size: 16px;
	line-height: 27px;
}

.box-set {
	padding: 40px 150px 45px 150px;
	display: flex;
	justify-content: space-between;

	input {
		outline: none;
		border-radius: 30px;
		padding: 20px 0px 20px 60px;
		width: 270px;
	}

	.box-input {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-image: url(../images/avatar.png);
			background-position: left;
			height: 22px;
			width: 18px;
			top: 17px;
			left: 25px;
		}
	}

	.phone-input {
		&::before {
			background-image: url(../images/phone.png);
		}
	}

	.box-btn {
		width: 270px;
		background-color: $yellow;
		text-align: center;
		border-radius: 30px;
		padding: 22px 0px;
		color: #fff;
		cursor: pointer;
	}
}

.box-subtitle {
	z-index: 1;
	position: relative;
	font-size: 16px;
	line-height: 20px;

	span {
		display: inline-block;
		font-family: 'Roboto Slab', serif;
		font-size: 20px;
		line-height: 27px;
		font-weight: 800;
		padding-left: 45px;
		margin-left: 30px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/call.png);
			height: 32px;
			width: 32px;
			top: 0;
			left: 0;

		}
	}
}

.camps__inner {
	padding-top: 100px;
	text-align: center;
}

.capm__header {
	.capm__header-title {
		font-family: 'Roboto Slab', serif;
		font-size: 30px;
		font-weight: 800;
	}

	.capm__header-text {
		font-size: 22px;
		line-height: 27px;
		font-weight: 600;
		padding: 25px 0px 70px;
	}
}

.capm__catalogs {

	.capm__catalogs-btns {
		display: flex;
		justify-content: space-between;
		border-bottom: 5px solid $yellow;
		margin-bottom: 40px;
	}

	.camp-btn {
		cursor: pointer;
		width: 370px;
		background-color: #d8f0f0;
		padding: 15px 100px;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		font-weight: 600;
		transition: .8s;

		&:hover {
			background-color: $yellow;
			color: white;
		}

		&.active {
			background-color: $yellow;
			color: white;
		}
	}
}

.camp__items-old {
	position: relative;
	padding-bottom: 535px;

	.camp__items {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		display: none;
		transition: .8s;

		&.active {
			display: flex;
		}
	}

	.camp__item {
		cursor: pointer;
		border: 2px solid #d8f0f0;
		max-width: 370px;
		width: 100%;
		transition: .8s;

		&:hover {
			border-color: $yellow;

			.camp__item-btn {
				background: linear-gradient(#fff 56%, #ffaf02 50%);
			}
		}

		img {
			margin-top: 15px;
			max-width: 100%;
		}

		.camp__item-title {
			padding: 30px 0 15px 0;
			font-size: 18px;
			font-weight: 600;
		}

		.camp__item-btn {
			display: inline-block;
			margin: 30px 0 22px;
			border-bottom: 6px solid $yellow;
			font-size: 18px;
			font-weight: 600;
		}
	}
}


.special-offer {
	.container-bg {
		background-image: url(../images/gradient-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.special-offer__wrapper {
	text-align: center;
	padding: 100px 0;
}

.special-offer__top {
	max-width: 875px;
	margin: 0 auto;
}

.special-offer__top-title {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	font-weight: 800;
}

.special-offer__top-text {
	margin: 0 auto;
	font-size: 22px;
	padding: 25px 0 60px;
	line-height: 41px;
	font-weight: 500;
	max-width: 630px;

	span {
		color: white;
		background-color: $yellow;
		padding: 10px;
	}
}

.special-offer__img {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 70px;
}

.special-offer__comfort-items {
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding-bottom: 70px;

	.comfort-item {
		position: relative;
		max-width: 350px;
		padding-left: 100px;
		font-size: 20px;

		&::before {
			content: '';
			position: absolute;
			height: 70px;
			width: 70px;
			top: -7px;
			left: 0;
			background-image: url(../images/comfort-item-balcony.png);
			background-repeat: no-repeat;
		}

		&.sea::before {
			background-image: url(../images/comfort-item-sea.png);
		}

		&.bed::before {
			background-image: url(../images/comfort-item-bad.png);
		}
	}
}


.special-offer__box,
.social__box {
	background-color: white;
	border: 10px solid #d8f0f0;
	padding: 60px 0;
	position: relative;

	.box-title {
		font-size: 18px;
		line-height: 27px;
		font-weight: 800;
		z-index: 20;
		padding-bottom: 25px;

	}

	.box-text {
		font-size: 16px;
	}

	.box-set {
		div {
			z-index: 1;
		}
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url(../images/special-offer-woman.jpg);
		background-repeat: no-repeat;
		bottom: 0;
		right: 0;
		height: 330px;
		width: 216px;
	}
}


.social__wrapper {
	padding: 100px 0;
}

.social__top {
	padding-bottom: 55px;
	display: flex;
	justify-content: space-between;
}

.social__top-right {
	padding-left: 30px;
}

.social__title {
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	font-size: 30px;
}

.social__text {
	font-size: 20px;
	padding: 65px 0;
	max-width: 430px;
}

.social__subtitle {
	font-size: 19px;
	font-weight: 700;
	max-width: 300px;
	padding-bottom: 25px;
}

.social__subtext {
	font-size: 20px;
	max-width: 430px;
}

.social__box-form {
	text-align: center;
}

.social__box {
	&::after {
		background-image: url(../images/social-form.jpg);
		height: 160px;
		width: 255px;
	}
}

.advantages {
	.container-bg {
		background-image: url(../images/gradient-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.advantages__wrapper {
	padding-top: 100px;
}

.advantages__title {
	text-align: center;
	font-weight: 800;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	max-width: 970px;
	margin: 0 auto;
	padding-bottom: 95px;
}

.advantages__inner {
	max-width: 570px;
	padding-bottom: 70px;
	padding-left: 150px;
	position: relative;

	&::before {
		content: '';
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		height: 100px;
		width: 100px;
		left: 0;
		top: 2px;
	}
}

.advantages__inner-title {
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 20px;
	line-height: 1;
}

.advantages__inner-text {
	font-size: 17px;
}

.advantages__inners {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;

	.inner-1::before {
		background-image: url(../images/advantages__inner-1.png);
	}

	.inner-2::before {
		background-image: url(../images/advantages__inner-2.png);
		margin-left: 30px;
	}

	.inner-3::before {
		background-image: url(../images/advantages__inner-3.png);
	}

	.inner-4::before {
		background-image: url(../images/advantages__inner-4.png);
		margin-left: 30px;
	}

	.inner-5::before {
		background-image: url(../images/advantages__inner-5.png);
	}

	.inner-6::before {
		background-image: url(../images/advantages__inner-6.png);
		margin-left: 30px;
	}
}

.command__wrapper {
	padding: 100px 0;

}

.command__top {

	text-align: center;
	padding-bottom: 70px;
}

.command__top-title {
	font-family: 'Roboto Slab', serif;
	max-width: 900px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 30px;
}

.command__top-text {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
}

.command__director {
	display: flex;
	justify-content: left;
	padding-bottom: 70px;
}

.command__director-img {
	width: 50%;

	img {
		width: 100%;
	}
}

.command__director-info {
	padding-left: 30px;


}

.director__info-xp {
	li {
		padding-top: 25px;
	}

	li {
		position: relative;
		padding-left: 58px;

		&::before {
			content: '';
			position: absolute;
			height: 25px;
			width: 25px;
			background-image: url(../images/checked.png);
			left: 0;
			top: 23px;
		}
	}
}

.director__info-name {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
}

.director__info-position {
	font-size: 17px;
	line-height: 27px;
	padding: 30px 0 30px;
}

.command__bottom-title {
	text-align: center;
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
	padding-bottom: 70px;
}

.command__bottom-items {
	display: flex;
	justify-content: center;
	align-items: center;

	.command-1::before {
		background-image: url(../images/command-1.png);
	}

	.command-2::before {
		background-image: url(../images/command-2.png);
	}

	.command-3::before {
		background-image: url(../images/command-3.png);
	}

}

.command__bottom-item+.command__bottom-item {
	margin-left: 30px;
}

.command__bottom-item {
	position: relative;
	max-width: 270px;
	padding-left: 100px;

	&::before {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		height: 70px;
		width: 70px;
		left: 0;
		top: 5px;
	}

	.item__name {
		font-size: 16px;
		line-height: 27px;
		font-weight: 700;
		padding-bottom: 15px;
	}

	.item__position {
		line-height: 20px;
	}
}

//      training

.training {
	.container-bg {
		background-image: url(../images/gradient-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.training__wrapper {
	text-align: center;
	padding: 100px 0;
}

.training__top {
	margin: 0 auto;
	max-width: 820px;
	padding-bottom: 60px;
}

.training__top-title {
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	padding-bottom: 30px;
}

.training__top-text {
	margin: 0 auto;
	max-width: 600px;
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
}

.training__stage-title {
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
	padding-bottom: 60px;
}

.training__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.box__inner {
	max-width: 270px;
	width: 100%;

	span {
		display: block;
		font-size: 15px;
		padding-bottom: 30px;
	}

	.box__inner-img {
		padding-bottom: 40px;
	}

	.box__inner-title {
		font-size: 20px;
		line-height: 47px;
		font-weight: 700;
	}

	.box__inner-text {
		font-size: 15px;
		line-height: 25px;
	}

}

.box__inner+.box__inner {
	margin-left: 30px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-image: url(../images/arrow.png);
		width: 63px;
		height: 24px;
		left: -50px;
		top: 95px;
	}
}




// photo

.photo__imgs {
	display: flex;

	.photo-img {
		max-width: 320px;

		img {
			max-width: 100%;
		}
	}
}

// STEP

.step {

	.container {
		background-image: url(../images/step-bg.jpg);
		background-repeat: no-repeat;
		background-position: bottom center;
	}

	.box__inner+.box__inner {
		&::before {
			top: 50px;
			left: -80px;
		}
	}

	.box__inner-text {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 15px;
	}

	.box__inner-btn {
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		line-height: 27px;
		font-weight: 700;
		border-bottom: 4px solid $yellow;
	}
}

.step__wrapper {
	text-align: center;
	padding: 100px 0;
}

.step-title {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 100px;
}

.step__box-top,
.step__box-bottom {
	display: flex;
	justify-content: space-evenly;
}

.step__box-top {
	padding-bottom: 80px;
}



// license

.license {
	.container-bg {
		background-image: url(../images/gradient-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.license__wrapper {
	padding: 100px 0;
}

.license__title {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	max-width: 800px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 100px;
}

.license__images {
	display: flex;
	justify-content: space-evenly;
}

.license__item {
	text-align: center;
	max-width: 270px;
}

.license__subtitle {
	font-size: 18px;
	padding-top: 25px;
}

.license__img {
	border: 15px solid #cce9e6;
}


// awards

.awards__wrapper {
	background-image: url(../images/awards-bg.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 100px 0;
	text-align: center;
}

.awards__title {
	font-family: 'Roboto Slab', serif;
	margin: 0 auto;
	font-weight: 800;
	font-size: 30px;
	max-width: 770px;

}

.awards__box-title {
	font-size: 22px;
	font-weight: 600;
	padding: 60px 0;
}

.awards__box-images {
	display: flex;
	justify-content: space-around;
}

.awards__box-img {
	border: 10px solid #cce9e6;
	border-bottom: 70px solid #cce9e6;
	text-align: center;
	position: relative;
}

.box__img-text {
	position: absolute;
	max-width: 200px;
	bottom: -63px;
	left: 30px;

	span {
		font-weight: 600;
	}
}


//  footer

.footer {
	.container-bg {
		background-image: url(../images/gradient-bg.jpg);

	}
}

.footer__wrapper {
	display: flex;
}

.footer__info {
	padding-top: 100px;
	max-width: 665px;
	width: 50%;
	padding-left: 100px;
}

.footer__map {
	max-width: 875px;
	width: 50%;

	iframe {
		width: 100%;
		height: 100%;
		border-width: 0px;
		margin-top: 2px;
	}

}




.footer__info-title {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	padding-bottom: 70px;
}

.footer__info-adress {
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 40px;
}

.footer__info-time {
	span {
		display: block;
		font-size: 15px;
		padding-bottom: 20px;
		color: #007ca5;
	}

	font-size: 18px;
	padding-bottom: 40px;
	font-weight: 600;
}

.footer__info--telephone {
	span {
		display: block;
		font-size: 15px;
		padding-bottom: 20px;
		color: #007ca5;
	}

	font-size: 18px;
	padding-bottom: 40px;
	font-weight: 600;
}

.footer__info-email {
	max-width: 300px;
	font-size: 18px;
	color: black;

}

.footer-email {
	padding-top: 25px;
	text-decoration: underline;
	padding-bottom: 100px;
}







//              font-family: 'Roboto Slab', serif;